@page "/Management"
@using global::Models
@using FileData
<h3>Management</h3>

@if (_adults == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr style="color: white">
            <th>FirstName</th>
            <th>LastName</th>
            <th>HairColor</th>
            <th>EyeColor</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var adult in _adults)
        {
            <tr style="color: white">
                <td>@adult.FirstName</td>
                <td>@adult.LastName</td>
                <td>@adult.HairColor</td>
                <td>@adult.EyeColor</td>
                <td>@adult.Age</td>
                <td>@adult.Weight</td>
                <td>@adult.Height</td>
            
            </tr> 
        }
        </tbody>
    </table>
}



@code {

    private IList<Adult> _adults = new List<Adult>();
    private FileContext _fileContext = new FileContext();

    protected override async Task OnInitializedAsync()
    {
        _adults = _fileContext.Adults;
    }
    
    
    
    
}