@page "/PersonList"
@using FileData
@using global::Models
@inject NavigationManager _navigationManager;


<hr style="border: 2px solid white" />
    <br>

@if (_adults == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr style="color: white">
            <th>FirstName</th>
            <th>LastName</th>
            <th>HairColor</th>
            <th>EyeColor</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var adult in _adults)
        {
            <tr style="color: white">
                <td>@adult.FirstName</td>
                <td>@adult.LastName</td>
                <td>@adult.HairColor</td>
                <td>@adult.EyeColor</td>
                <td>@adult.Age</td>
                <td>@adult.Weight</td>
                <td>@adult.Height</td>
                <button class="btn btn-dark" @onclick="() => Delete(adult)" style="margin-right: 10px">Delete</button>
                <button class="btn btn-dark" style="left: 10px" @onclick="() => Modify(adult)">Modify</button>
            </tr> 
        }
        </tbody>
    </table>
}

@code {
    private IList<Adult> _adults = new List<Adult>();
    private FileContext _fileContext = new FileContext();

    protected override async Task OnInitializedAsync()
    {
        _adults = _fileContext.Adults;
    }

    private void Delete(Adult adult)
    {
        _adults.Remove(adult);
        _fileContext.SaveChanges();
    }

    public void Go()
    {
        _navigationManager.NavigateTo("/Edit");
    }
    
    public void Modify(Adult adult)
    {
        Go();
        _fileContext.Sadults.Add(adult);
        _fileContext.SaveChanges();
    }

}