@page "/PersonList"
@using FileData
@using global::Models

<h1>Person List</h1>

<p>This is the data of all personnel.</p>

@if (_adults == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>HairColor</th>
            <th>EyeColor</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var adult in _adults)
        {
            <tr>
                <td>@adult.FirstName</td>
                <td>@adult.LastName</td>
                <td>@adult.HairColor</td>
                <td>@adult.EyeColor</td>
                <td>@adult.Age</td>
                <td>@adult.Weight</td>
                <td>@adult.Height</td>
                <button @onclick="() => Delete(adult)">Delete</button>
            </tr> 
        }
        </tbody>
    </table>
}

@code {
    private IList<Adult> _adults = new List<Adult>();
    private FileContext _fileContext = new FileContext();

    protected override async Task OnInitializedAsync()
    {
        _adults = _fileContext.Adults;
    }

    private void Delete(Adult adult)
    {
        _adults.Remove(adult);
        _fileContext.SaveChanges();
    }

}